<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Сравнение пилотов F1 🏁</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Сравнение пилотов F1 🏎️</h1>

        <div class="form-card">
            <label>Первый пилот:</label>
            <select id="pilot1"></select>

            <label>Второй пилот:</label>
            <select id="pilot2"></select>

            <button id="compareBtn">Сравнить</button>
        </div>

        <div id="result"></div>
    </div>

    <script src="/static/script.js"></script>
</body>
</html>
